$primary-black: (
  50: #e4e4e4,
  100: #bbbbbb,
  200: #8e8e8e,
  300: #616161,
  400: #3f3f3f,
  500: #1d1d1d,
  600: #1a1a1a,
  700: #151515,
  800: #111111,
  900: #0a0a0a,
  A100: #e07171,
  A200: #d74747,
  A400: #eb0000,
  A700: #d10000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$primary-pink: (
  50: #fdfcfc,
  100: #faf8f6,
  200: #f7f3f1,
  300: #f3eeeb,
  400: #f1eae6,
  500: #eee6e2,
  600: #ece3df,
  700: #e9dfda,
  800: #e7dbd6,
  900: #e2d5cf,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
