.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-left: auto;
  margin-right: auto;
}

// @media screen and (min-width: 1440px) {
//   .container {
//     max-width: 1440px;
//   }
// }
