.sidebar-container {
  padding: 1rem;
  background-color: #eee6e2;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 80% 10%;

  .logo-container {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
  }
}

ul {
  list-style: none;
  text-decoration: none;
  padding-left: 1rem;
  li {
    padding: 10px 0;
    font-weight: 300;
  }
}

.main-links {
  font-weight: 500 !important;
}

.logout-btn-container {
  display: flex;
  align-items: end;
}
