<div class="sidebar-container">
  <div class="logo-container">SOLARIUS</div>
  <div class="nav-container">
    <ul>
      <li class="main-links">Dashboard</li>
      <li class="main-links">Education</li>
      <li class="main-links">
        Resources
        <ul>
          <li>Genetics101</li>
          <li>DNA synthesis</li>
          <li>Events</li>
        </ul>
      </li>
      <li class="main-links">Settings</li>
    </ul>
  </div>
  <div class="logout-btn-container">
    <ul>
      <li class="main-links">Log out</li>
    </ul>
  </div>
</div>
